@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Forum-Regular.ttf') format('truetype'),
         url('../fonts/PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

